Repository paulofor/lookgen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @frontend-team, @backend-team, @ai-team

.github/CODEOWNERS:

/frontend/ @frontend-team
/ui-backend/ @backend-team
/styler-service/ @ai-team
/notification-service/ @backend-team

documentacao especificaco inicial
  docs.ai/styler/Especificacao_1_0.txt
Owners: none

especificacao
  docs.ai/styler/Especificacao_1_0.txt
Owners: none

colocando o backend
  ui-backend/.gitignore
  ui-backend/.gitlab-ci.yml
  ui-backend/README.md
  ui-backend/pom.xml
  ui-backend/src/main/java/com/lookgen/LookgenAiApplication.java
  ui-backend/src/main/java/com/lookgen/config/CorsConfig.java
  ui-backend/src/main/java/com/lookgen/controller/ClienteController.java
  ui-backend/src/main/java/com/lookgen/controller/EstiloController.java
  ui-backend/src/main/java/com/lookgen/controller/FotoGeradaController.java
  ui-backend/src/main/java/com/lookgen/controller/FotoItemController.java
  ui-backend/src/main/java/com/lookgen/controller/FotoPessoaController.java
  ui-backend/src/main/java/com/lookgen/controller/LookgenController.java
  ui-backend/src/main/java/com/lookgen/controller/MetricController.java
  ui-backend/src/main/java/com/lookgen/controller/UploadController.java
  ui-backend/src/main/java/com/lookgen/dto/EventDTO.java
  ui-backend/src/main/java/com/lookgen/dto/FormularioLookgenDTO.java
  ui-backend/src/main/java/com/lookgen/model/CategoriaItem.java
  ui-backend/src/main/java/com/lookgen/model/Cliente.java
  ui-backend/src/main/java/com/lookgen/model/Estilo.java
  ui-backend/src/main/java/com/lookgen/model/FotoGerada.java
  ui-backend/src/main/java/com/lookgen/model/FotoItem.java
  ui-backend/src/main/java/com/lookgen/model/FotoPessoa.java
  ui-backend/src/main/java/com/lookgen/repository/ClienteRepository.java
  ui-backend/src/main/java/com/lookgen/repository/EstiloRepository.java
  ui-backend/src/main/java/com/lookgen/repository/FotoGeradaRepository.java
  ui-backend/src/main/java/com/lookgen/repository/FotoItemRepository.java
  ui-backend/src/main/java/com/lookgen/repository/FotoPessoaRepository.java
  ui-backend/src/main/java/com/lookgen/service/ClienteService.java
  ui-backend/src/main/java/com/lookgen/service/EstiloService.java
  ui-backend/src/main/java/com/lookgen/service/FotoGeradaService.java
  ui-backend/src/main/java/com/lookgen/service/FotoItemService.java
  ui-backend/src/main/java/com/lookgen/service/FotoPessoaService.java
  ui-backend/src/main/resources/application.properties
Owners: @backend-team

feat(styler): implement sketch scheduler
  styler-service/build.gradle.kts
  styler-service/src/main/kotlin/com/lookgen/styler/Application.kt
  styler-service/src/main/kotlin/com/lookgen/styler/config/OpenAiProperties.kt
  styler-service/src/main/kotlin/com/lookgen/styler/config/StylerProperties.kt
  styler-service/src/main/kotlin/com/lookgen/styler/domain/Photo.kt
  styler-service/src/main/kotlin/com/lookgen/styler/domain/Sketch.kt
  styler-service/src/main/kotlin/com/lookgen/styler/domain/Stage.kt
  styler-service/src/main/kotlin/com/lookgen/styler/domain/User.kt
  styler-service/src/main/kotlin/com/lookgen/styler/repo/PhotoRepository.kt
  styler-service/src/main/kotlin/com/lookgen/styler/repo/SketchRepository.kt
  styler-service/src/main/kotlin/com/lookgen/styler/repo/UserRepository.kt
  styler-service/src/main/kotlin/com/lookgen/styler/service/OpenAiClient.kt
  styler-service/src/main/kotlin/com/lookgen/styler/service/SketchScheduler.kt
  styler-service/src/main/kotlin/com/lookgen/styler/web/AdminController.kt
  styler-service/src/main/kotlin/com/lookgen/styler/web/SketchController.kt
  styler-service/src/main/resources/application.yaml
Owners: @ai-team

Convert styler-service from Kotlin to Java with Maven
  styler-service/build.gradle.kts
  styler-service/pom.xml
  styler-service/src/main/java/com/lookgen/styler/StylerApplication.java
  styler-service/src/main/java/com/lookgen/styler/config/OpenAiProperties.java
  styler-service/src/main/java/com/lookgen/styler/config/StylerProperties.java
  styler-service/src/main/java/com/lookgen/styler/domain/Photo.java
  styler-service/src/main/java/com/lookgen/styler/domain/Sketch.java
  styler-service/src/main/java/com/lookgen/styler/domain/Stage.java
  styler-service/src/main/java/com/lookgen/styler/domain/User.java
  styler-service/src/main/java/com/lookgen/styler/repo/PhotoRepository.java
  styler-service/src/main/java/com/lookgen/styler/repo/SketchRepository.java
  styler-service/src/main/java/com/lookgen/styler/repo/UserRepository.java
  styler-service/src/main/java/com/lookgen/styler/service/OpenAiClient.java
  styler-service/src/main/java/com/lookgen/styler/service/SketchScheduler.java
  styler-service/src/main/java/com/lookgen/styler/web/AdminController.java
  styler-service/src/main/java/com/lookgen/styler/web/SketchController.java
  styler-service/src/main/kotlin/com/lookgen/styler/Application.kt
  styler-service/src/main/kotlin/com/lookgen/styler/config/OpenAiProperties.kt
  styler-service/src/main/kotlin/com/lookgen/styler/config/StylerProperties.kt
  styler-service/src/main/kotlin/com/lookgen/styler/domain/Photo.kt
  styler-service/src/main/kotlin/com/lookgen/styler/domain/Sketch.kt
  styler-service/src/main/kotlin/com/lookgen/styler/domain/User.kt
  styler-service/src/main/kotlin/com/lookgen/styler/repo/PhotoRepository.kt
  styler-service/src/main/kotlin/com/lookgen/styler/repo/SketchRepository.kt
  styler-service/src/main/kotlin/com/lookgen/styler/repo/UserRepository.kt
  styler-service/src/main/kotlin/com/lookgen/styler/service/OpenAiClient.kt
  styler-service/src/main/kotlin/com/lookgen/styler/service/SketchScheduler.kt
  styler-service/src/main/kotlin/com/lookgen/styler/web/AdminController.kt
  styler-service/src/main/kotlin/com/lookgen/styler/web/SketchController.kt
Owners: @ai-team

Add webflux dependency
  styler-service/pom.xml
Owners: @ai-team

Improve configuration and docs
  README.md
  pnpm-workspace.yaml
  tools/gen-ai-docs.sh
  ui-backend/src/main/java/com/lookgen/controller/MetricController.java
  ui-backend/src/main/resources/application.properties
Owners: @backend-team

styler-service: add MySQL database connection
  styler-service/pom.xml
  styler-service/src/main/resources/application.yaml
Owners: @ai-team

DDL
  .gitignore
  docs.ai/DDL.txt
Owners: none

styler-service: add processing scheduler for clientes
  styler-service/src/main/java/com/lookgen/styler/domain/Cliente.java
  styler-service/src/main/java/com/lookgen/styler/domain/Estilo.java
  styler-service/src/main/java/com/lookgen/styler/domain/FotoItem.java
  styler-service/src/main/java/com/lookgen/styler/repo/ClienteRepository.java
  styler-service/src/main/java/com/lookgen/styler/repo/EstiloRepo.java
  styler-service/src/main/java/com/lookgen/styler/repo/FotoItemRepo.java
  styler-service/src/main/java/com/lookgen/styler/service/ClienteScheduler.java
Owners: @ai-team

fix: reorder query to avoid SKIP LOCKED syntax error
  styler-service/src/main/java/com/lookgen/styler/repo/ClienteRepository.java
Owners: @ai-team

Remove legacy user-based components
  styler-service/src/main/java/com/lookgen/styler/domain/Photo.java
  styler-service/src/main/java/com/lookgen/styler/domain/Sketch.java
  styler-service/src/main/java/com/lookgen/styler/domain/Stage.java
  styler-service/src/main/java/com/lookgen/styler/domain/User.java
  styler-service/src/main/java/com/lookgen/styler/repo/PhotoRepository.java
  styler-service/src/main/java/com/lookgen/styler/repo/SketchRepository.java
  styler-service/src/main/java/com/lookgen/styler/repo/UserRepository.java
  styler-service/src/main/java/com/lookgen/styler/service/SketchScheduler.java
  styler-service/src/main/java/com/lookgen/styler/web/AdminController.java
  styler-service/src/main/java/com/lookgen/styler/web/SketchController.java
Owners: @ai-team

fix: adjust query order for MySQL
  styler-service/src/main/java/com/lookgen/styler/repo/ClienteRepository.java
Owners: @ai-team

Adjust MySQL dialect for 5.7
  README.md
  styler-service/src/main/resources/application.yaml
  ui-backend/src/main/resources/application.properties
Owners: @ai-team, @backend-team

Simplify pending client query
  styler-service/src/main/java/com/lookgen/styler/repo/ClienteRepository.java
Owners: @ai-team

config: read OpenAI key from env
  README.md
  styler-service/src/main/resources/application.yaml
Owners: @ai-team

feat(styler): improve OpenAI error logging
  styler-service/src/main/java/com/lookgen/styler/service/OpenAiClient.java
Owners: @ai-team

fix(styler): provide absolute URLs for OpenAI
  README.md
  styler-service/src/main/java/com/lookgen/styler/config/StylerProperties.java
  styler-service/src/main/java/com/lookgen/styler/service/ClienteScheduler.java
  styler-service/src/main/resources/application.yaml
Owners: @ai-team

Reduce OpenAI image detail to prevent download timeouts
  styler-service/src/main/java/com/lookgen/styler/service/OpenAiClient.java
Owners: @ai-team

fix: allow long text for estilo descricao
  styler-service/src/main/java/com/lookgen/styler/domain/Estilo.java
Owners: @ai-team

Update sketch generation to produce image
  docs.ai/styler/Especificacao_1_0.txt
  styler-service/src/main/java/com/lookgen/styler/service/ClienteScheduler.java
  styler-service/src/main/java/com/lookgen/styler/service/OpenAiClient.java
Owners: @ai-team

log executed prompts in styler service
  styler-service/src/main/java/com/lookgen/styler/service/OpenAiClient.java
Owners: @ai-team

feat(styler): upload generated image to GCP
  styler-service/pom.xml
  styler-service/src/main/java/com/lookgen/styler/config/GcpProperties.java
  styler-service/src/main/java/com/lookgen/styler/service/GcpStorageService.java
  styler-service/src/main/java/com/lookgen/styler/service/OpenAiClient.java
  styler-service/src/main/resources/application.yaml
Owners: @ai-team

docs: adicionar instrucoes de bucket GCP
  docs.ai/Configurar_Bucket_GCP.md
Owners: none

Fix missing version for google-cloud-storage
  styler-service/pom.xml
Owners: @ai-team
